@import "vars";

.twit-main-navigation {
    display: flex;
    flex-flow: row nowrap;
    gap: 16px;
    background: rgb(255, 255, 255);
    min-height: 40px;
    align-items: center;
    border-bottom: $page-border;

    .twit-main-navigation-icon {
        margin-left: 41px;
        background: url(../../assets/images/img_twit_page/home.png);
        width: $width-navigation-icon;
        height: $height-navigation-icon;
    }

    a {
        text-decoration: none;
        font-size: $font-size-main-navigation;
        color: #88658c;
    }

    .twit-main-next {
        color: #88658c;
        font-size: $font-size-main-navigation;
    }
}
