// Variables TWIT

$page-border: 1px solid rgba(0, 0, 0, 0.2);
$width-welcome-icon: 95px;
$height-welcome-icon: 81px;
$width-navigation-icon: 25px;
$height-navigation-icon: 25px;
$font-size-main-navigation: 12px;
$width-heght-main-current-twit-info-edit: 25px;
$width-heght-main-current-twit-info-delete: 29px;
$width-main-current-twit-info-messege: 27px;
$heght-main-current-twit-info-messege: 25px;
