<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Error</title>
        <link rel="stylesheet" href="../../styles/error_page/error.css" />
    </head>
    <body>
        <div id="errorMainWrapper">
            <menu id="errorLeftBlock">
                <img src="../../assets/images/error_page/LOGO.png" class="error-cat" />
                <h2 class="error-sign">Welcome!</h2>
                <h3>Hi, Dmitry</h3>
                <a href="">Log out</a>
                <h2 class="error-main-page">main page</h2>
            </menu>
            <menu id="errorRaightBlock">
                <header class="error-main-header">
                    <img src="../../assets/images/error_page/Vector (Home).png" class="error-img-home" />
                    <h3>Main</h3>
                    <h3>></h3>
                    <h3>authorization</h3>
                    <h3>></h3>
                </header>
                <section id="errorMainSektion">
                    <!-- <img src="../../assets/images/error_page/Error view.png" alt="" width="130%" > -->
                </section>
            </menu>
        </div>
        <footer id="errorFooterEnd">
            <ul>
                <h2>Nyatter</h2>
                <li>last update: 19.02.2022</li>
            </ul>
            <ul>
                <h2>Dmitry Masalski</h2>
                <li class="error-liraight">DimOn-1566@mail.ru</li>
            </ul>
        </footer>
    </body>
</html>
