body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: antiquewhite;
}

dl {
    border-collapse: collapse;
    border: 1px solid #000;
    margin: 1rem 2rem;
}

dt {
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    background-color: rgb(38, 98, 151);
    border: 1px solid #000;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
}

dd {
    background-color: rgb(160, 212, 234);
    padding: 0.25rem 0.5rem;
    margin: 0;
    display: none;
}