<div class="left-site-skills-html">
  <div class="left-site-skills-html-text">HTML</div>
  <div class="left-site-skills-html-circles">
    <div class="left-site-skills-html-circles-one"></div>
    <div class="left-site-skills-html-circles-one"></div>
    <div class="left-site-skills-html-circles-one"></div>
    <div class="left-site-skills-html-circles-one"></div>
    <div class="left-site-skills-html-circles-one"></div>
  </div>
</div>
<div class="left-site-skills-css">
  <div class="left-site-skills-css-text">SCSS, SASS, CSS, LESS</div>
  <div class="left-site-skills-css-circles">
    <div class="left-site-skills-css-circles-one"></div>
    <div class="left-site-skills-css-circles-one"></div>
    <div class="left-site-skills-css-circles-one"></div>
    <div class="left-site-skills-css-circles-one"></div>
    <div class="left-site-skills-css-circles-one"></div>
  </div>
</div>
<div class="left-site-skills-js">
  <div class="left-site-skills-js-text">JavaScript, TypeScript</div>
  <div class="left-site-skills-js-circles">
    <div class="left-site-skills-js-circles-one"></div>
    <div class="left-site-skills-js-circles-one"></div>
    <div class="left-site-skills-js-circles-one"></div>
    <div class="left-site-skills-js-circles-one"></div>
    <div class="left-site-skills-js-circles-one"></div>
  </div>
</div>
<div class="left-site-skills-angular">
  <div class="left-site-skills-angular-text">Angular</div>
  <div class="left-site-skills-angular-circles">
    <div class="left-site-skills-angular-circles-one"></div>
    <div class="left-site-skills-angular-circles-one"></div>
    <div class="left-site-skills-angular-circles-one"></div>
    <div class="left-site-skills-angular-circles-one"></div>
    <div class="left-site-skills-angular-circles-one"></div>
  </div>
</div>
