@import 'styles/reset';
@import 'styles/vars';
@import 'styles/scrollbar';
@import 'styles/fonts';

* {
    font-family: 'Roboto';
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

hr {
    width: 100%;
}

a {
    text-decoration: none;
    color: $link-color;

    &:hover {
        text-decoration: underline;
    }
}

img[src="assets/png/sortIco.png"], img[src="assets/png/plusIco.png"], img[src="assets/png/deleteIco.png"], img[src="assets/png/optionsIco.png"], img[src="assets/png/avatarPlaceholder.png"] {
    filter: invert(1);
}

button {
    border-radius: $little-border-radius;
    padding: 0.25 * $default-padding 0.5 * $default-padding;
    // font-weight: 500;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        box-shadow: 0 0 0 2px $light-border-color;
    }
}

input {
    min-width: 16rem;
    border: none;
    outline: none;
    box-shadow: $light-box-shadow;
    border-radius: $little-border-radius;
    padding: 0.25 * $default-padding 0.5 * $default-padding;
}

textarea {
    border-radius: $little-border-radius;
    padding: 0.25 * $default-padding 0.5 * $default-padding;
}

.layout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}

svg {
    width: $svg-size;
    height: $svg-size;
    padding: $svg-padding;
    border-radius: $svg-radius;
    transition: all 0.3s linear;
    cursor: pointer;

    path {
        fill: $light-border-color;
    }

    &.plusIco, &.filterIco, &.sortIco, &.crossIco {

        path {
            stroke: $light-border-color;
        }
    }

    &:hover {
        background-color: $secondary-bg-color;
    }
}

body {
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    
    // &, .main, .tableForm {
    //     overflow: hidden;
    // }


    @import 'styles/body/login';
    @import 'styles/body/header';
    @import 'styles/body/main';
    @import 'styles/body/profile';
    @import 'styles/body/task';
}