.taskBoard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3 * $default-padding;
    height: calc($body-height - $header-height - $toolbar-height);
    padding: 0 4 * $default-padding;
    background-color: $main-bg-color;

    .taskTableWrapper {
        min-width: 20rem;

        div {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h4 {
                margin: 0.5 * $default-padding;
                padding: 0 0.25 * $default-padding;
                font-size: $h4-font-size;
                font-weight: 500;
                flex-grow: 1;
                // white-space: nowrap;
                // text-overflow: ellipsis;

                // &:focus-visible {
                //     outline: $secondary-bg-color auto $border-width !important;
                //     outline:none;
                // }
            }

            div {
                display: flex;
                column-gap: 0.25 * $login-padding;

                svg {
                    width: 1.5 * $h4-font-size;
                    height: 1.5 * $h4-font-size;
                    padding: 0.35 * $default-padding;
                    border-radius: 2 * $little-border-radius;
                    transition: all 0.3s linear;

                    path {
                        fill: $light-border-color;
                    }

                    &:not(.deleteIco, .optionsIco, .assigneeAvatar) {

                        path {
                            stroke: $light-border-color;
                        }
                    }
        
                    &:hover {
                        background-color: $secondary-bg-color;
                    }
                }

                img {
                    width: 1.5 * $h4-font-size;
                    height: 1.5 * $h4-font-size;
                    padding: 0.35 * $default-padding;
                    border-radius: 2 * $little-border-radius;
                    transition: all 0.3s linear;
        
                    &:hover {
                        background-color: $light-bg-color;
                    }
                }
            }
        }
    
        .taskTable {
            position: relative;
            flex-direction: column;
            justify-content: start;
            row-gap: $default-padding;
            height: calc($body-height - $header-height - $toolbar-height - $default-padding - 2.25rem - $default-padding);
            padding: 0 $default-padding;
            background-color: $secondary-bg-color;
            border-radius: $default-padding;
            overflow-y: auto;
            overflow-x: hidden;

            .border {
                position: sticky;
                width: calc(100% + 4 * $border-width);
                height: $blur-width;
                flex-shrink: 0;

                &.top {
                    top: 0;
                    background-image: linear-gradient(to bottom, $secondary-bg-color, transparent 100%);
                    margin-bottom: - 0.5 * $blur-width;
                }

                &.bottom {
                    bottom: 0;
                    background-image: linear-gradient(to top, $secondary-bg-color, transparent 100%);
                    margin-top: - 0.5 * $blur-width;
                }
            }

            .taskForm {
                flex-direction: column;
                width: 100%;
                background-color: $main-bg-color;
                border-radius: $default-padding;
                padding: 0.5 * $default-padding $default-padding;
                row-gap: 0.25 * $default-padding;

                &:hover {
                    outline: $big-border;
                }

                > * {
                    width: 100%;
                }

                .taskStatus {
                    justify-content: space-between;
                    align-items: center;

                    .mark {
                        justify-content: center;
                        align-items: center;
                        // width: 4 * $h4-font-size;
                        height: 1.25 * $h4-font-size;
                        padding: 0 0.5 * $default-padding;
                        border-radius: 2 * $little-border-radius;
                        color: $main-border-color;
                        font-size: $small-font-size;
                        text-transform: lowercase;
                        
                        &.high {
                            background-color: $bad-color;
                            // color: $light-bg-color;
                        }

                        &.medium {
                            background-color: $normal-color;
                        }

                        &.low {
                            background-color: $good-color;
                        }
                    }

                    img {
                        width: 1.5 * $h4-font-size;
                        height: 1.5 * $h4-font-size;
                        padding: 0.35 * $default-padding;
                        border-radius: 2 * $little-border-radius;
                        transition: all 0.3s linear;
            
                        &:hover {
                            background-color: $light-bg-color
                        }
                    }
                }

                // .taskName {

                // }

                .taskAssignee {
                    justify-content: flex-end;

                    .assignee {
                        border-radius: 50%;

                        svg {
                            padding: 0.2 * $default-padding;
                        }
                    }
                }
            }
        }
    }
}