* {
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

section > h4 {
  align-self: center;
  width: fit-content !important;
}

textarea, input, button {
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid black;
  font-size: 1rem;
}

textarea {
  resize: none;
  height: 5.6rem;
}

button {
  text-align: center;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.modal {
  position: absolute;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  width: calc(100vw - 1rem);
  padding: 1rem;
  border-bottom: 1px solid #000;
  background-color: lightyellow;
}

.task1 {
  height: 100vh;
}
.task1 > * {
  width: 100%;
}
.task1 .messageList {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  width: 100%;
  overflow-y: auto;
}
.task1 .messageList .message {
  border: 1px solid black;
}
.task1 .messageList .message > * {
  padding: 0.25rem 0.5rem;
}
.task1 .messageList .message .userInfo {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000;
  background-color: lightsalmon;
}
.task1 .messageList .message .text {
  background-color: lightsteelblue;
  white-space: pre-wrap;
}
.task1 .postForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
}
.task1 .postForm > * {
  display: flex;
  align-items: center;
  width: 100%;
}
.task1 .postForm > * input, .task1 .postForm > * textarea {
  flex-grow: 1;
}
.task1 .postForm > * span {
  min-width: 6.5rem;
}
.task1 .postForm button {
  justify-content: center;
}

.task2 {
  align-items: start;
}
.task2 .question {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 0.5rem;
}
.task2 .question p {
  display: flex;
  column-gap: 0.25rem;
}
.task2 .question form {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
}
.task2 .question form .answer {
  display: flex;
  column-gap: 0.25rem;
}
.task2 .question form button {
  width: 10rem;
}

.task3 > * {
  width: 100%;
}
.task3 textarea {
  height: 15rem;
  resize: none;
}
.task3 .styles {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
}
.task3 .styles .style * {
  padding: 0.25rem;
}
.task3 .styles .style:hover {
  background-color: lightgray;
}

.task4 {
  align-items: start;
}
.task4 .booklist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  column-gap: 1rem;
}
.task4 .booklist > * {
  padding: 0.25rem 0.25rem 0.5rem;
  border: 1px solid dimgray;
}
.task4 .booklist .book {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 9rem;
  height: inherit;
  row-gap: 0.25rem;
}
.task4 .booklist .book .top {
  display: flex;
  flex-direction: column;
}
.task4 .booklist .book .top .img {
  align-self: center;
  width: 8rem;
  height: 10rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.task4 .booklist .book .top p {
  font-size: 0.75rem;
}
.task4 .booklist .book .price {
  position: absolute;
  bottom: 2rem;
  font-size: 1rem;
  font-weight: bold;
  align-self: flex-end;
}
.task4 .booklist .book .bot {
  width: 100%;
}
.task4 .booklist .book .bot button {
  width: 100%;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  font-weight: bold;
}
.task4 .booklist .order {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
  order: 1;
}
.task4 .booklist .order form {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
}
.task4 .booklist .order form div {
  display: flex;
  align-items: flex-start;
}
.task4 .booklist .order form div._book input {
  background-color: lightgray;
}
.task4 .booklist .order form div span {
  flex-shrink: 0;
  width: 7rem;
  font-size: 0.9rem;
  font-weight: bold;
}
.task4 .booklist .order form div textarea, .task4 .booklist .order form div input {
  font-family: monospace;
  border-radius: 0.25rem;
  width: 15rem;
}
.task4 .booklist .order form div input {
  height: 1.5rem;
}
.task4 .booklist .order form div textarea {
  height: 5.5rem;
}
.task4 .booklist .order button {
  width: 100%;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  font-weight: bold;
}

.task5 {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 100%;
  padding: 1rem;
}
.task5 > * {
  width: 100%;
}
.task5 button, .task5 input {
  height: 1.5rem;
  border-radius: 0.25rem;
}
.task5 .gs {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
  align-items: center;
  padding-bottom: 0.25rem;
  border-bottom: 1px solid dimgray;
}
.task5 span {
  font-weight: bold;
}
.task5 .list {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.task5 .list .topic {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}
.task5 .list .topic input:not([checkbox]) {
  width: 30rem;
}
.task5 .list .students p {
  display: flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  border-bottom: 1px solid dimgray;
}
.task5 .list .students p span:first-child {
  display: inline-block;
  width: 15rem;
}
.task5 .list .students button {
  width: 100%;
  margin-top: 0.75rem;
}

.task6 {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 100%;
  padding: 1rem;
}
.task6 > * {
  width: 100%;
}
.task6 button, .task6 input {
  height: 1.5rem;
  border-radius: 0.25rem;
}
.task6 .ds {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
  align-items: center;
  padding-bottom: 0.25rem;
  border-bottom: 1px solid dimgray;
}
.task6 .tickets {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  row-gap: 0.25rem;
  column-gap: 0.25rem;
}
.task6 .tickets span {
  display: flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
}
.task6 .tickets span label {
  padding-left: 0.5rem;
}
.task6 .tickets span:hover {
  outline: 1px solid black;
}
.task6 div.price {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 1rem;
}
.task6 div.price button {
  width: 5rem;
}
.task6 table.my-tickets {
  width: 70vw;
  border: 1px solid black;
  border-collapse: collapse;
}
.task6 table.my-tickets * {
  border: 1px solid black;
}/*# sourceMappingURL=styles.css.map */