* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

.container {
    padding: 20px;
    width: 500px;
    background: #fbf2e9;
    display: flex;
    flex-flow: column nowrap;
    gap: 4vh;
}

.check-parametr {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-bottom: 4vh;
    border-bottom: 1px solid rgb(0, 0, 0, 0.3);
}

#checkLesson,
#checkgGroup {
    width: 80px;
    padding: 5px;
}

.select {
    padding: 5px 20px;
}

.info-lesson-student {
    display: flex;
    flex-flow: column nowrap;
    gap: 4vh;
}

.info-student > li {
    display: flex;
    flex-flow: row nowrap;
}
