<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Registrathion</title>
        <link rel="stylesheet" href="../../styles/registration_page/registration.css" />
    </head>
    <body>
        <div id="registrationMainWrapper">
            <menu id="registrationLeftBlock">
                <img src="../../assets/images/img_registration_page/LOGO.png" class="registration-cat" />
                <h2 class="registration-sign">Log in</h2>
                <h2 class="registration-main-page">main page</h2>
            </menu>
            <menu id="registrationRaightBlock">
                <header class="registration-mainHader">
                    <img src="../../assets/images/img_registration_page/Vector (Home).png" class="registration-imgHome" />
                    <h3>Main</h3>
                    <h3>></h3>
                    <h3>authorization</h3>
                    <h3>></h3>
                </header>
                <section id="registrationMainSektion">
                    <img src="../../assets/images/img_registration_page/LogoGroup.png" />
                    <form method="get" id="registrationMainFormBlockRaight">
                        <input type="text" value="username" class="registration-user-name" />
                        <input type="password" value="password" class="registration-password" />
                        <input type="password" value="confirm password" class="registration-password" />
                        <input type="button" value="Sign In" class="registration-signUp" />
                        <a href="">if you don't have an account</a>
                        <a href="#">Sing</a>
                    </form>
                </section>
            </menu>
        </div>
        <footer id="registrationFooterEnd">
            <ul>
                <h2>Nyatter</h2>
                <li>last update: 19.02.2022</li>
            </ul>
            <ul>
                <h2>Dmitry Masalski</h2>
                <li class="registration-liraight">DimOn-1566@mail.ru</li>
            </ul>
        </footer>
    </body>
</html>
