<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrathion</title>
    <link rel="stylesheet" href="../../styles/registration_page/registration.css">
</head>
<body>
    <div id="mainWrapper">
        <menu id="leftBlock">
            <img src="../../assets/images/img_registration_page/LOGO.png" alt="" class="vectorKat">
            <h2 class="Sign">Log in</h2>
            <h2 class="mainPage">main page</h2>
        </menu>
        <menu id="raightBlock">
            <header class="mainHader">
                <img src="../../assets/images/img_registration_page/Vector (Home).png" alt="" class="imgHome">
                <h3>Main</h3>
                <h3>></h3>
                <h3>authorization</h3>
                <h3>></h3>
            </header>
            <section id="mainSektion">
                <img src="../../assets/images/img_registration_page/LogoGroup.png" alt="" >
                <form action="" method="get" id = mainFormBlockRaight>
                    <input type="" value="username" class="userName">
                    <input type="" value="password" class="password" >
                    <input type="" value="confirm password" class="password" >
                    <input type="button" value="Sign In" class="signUp" >
                    <a href="">if you don't have an account</a>
                    <a href="">Sing</a>
            </form>
            </section>
        </menu>
       
    </div>
    <footer id = footerEnd>
       <ul>
        <h2>Nyatter</h2>
        <li>last update: 19.02.2022</li>
       </ul>
       <ul>
        <h2>Dmitry Masalski</h2>
        <li class="liraight">DimOn-1566@mail.ru</li>
       </ul>
    </footer>
</body>
</html>