<main>
  <header>
    <span>
      Саске, вернись в коноху!
    </span>
  </header>
  <div class="background"></div>


  <div class="personal-page">
    <div class="properties">
      <div class="name property">
        <span>ФИО:</span><span>{{ name }}</span>
      </div>
      <div class="phone property">
        <span>Телефон:</span><span>{{ phone }}</span>
      </div>
      <div class="email property">
        <span>Email:</span><span>{{ email }}</span>
      </div>
      <div class="city property">
        <span>Место жительства:</span><span>{{ city }}</span>
      </div>
      <div class="expirience property">
        <span>Опыт работы:</span><span><app-expirience></app-expirience></span>
      </div>
      <div class="skills property">
        <span>Навыки:</span><span><app-skills></app-skills></span>
      </div>
    </div>
    <div class="photo">

      <img src="{{ photo }}" alt="">
    </div>
  </div>
</main>