.authorizationOverlay{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $light-bg-color;

    .authorizationForm {
        margin: 2 * $login-padding;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1.5 * $login-padding;
        background-color: $light-border-color;
        padding: 1.5 * $login-padding $login-padding;
        padding: 1.5 * $login-padding $login-padding 1 * $login-padding;
        box-shadow: $lighter-box-shadow;
        border-radius: $default-padding;

        .mainLogo {
            width: $mainLogo-size;
            height: $mainLogo-size;
        }

        .functional {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: $default-padding;
            
            form {
                display: flex;
                flex-direction: column;
                row-gap: $default-padding;

                button {
                    margin-top: $default-padding;
                    margin-bottom: $default-padding;
                    border: none;
                    font-size: 1.25em;
                    font-weight: 500;
                    filter: invert(1);
                }
            }

            p {
                display: flex;
                justify-content: space-around;
                width: 100%;
                margin-top: -0.5 * $default-padding;
                font-size: $small-font-size;
            }
        }
    }
}