.loginFormLayout {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    // height: 100vh;
    padding: 2 * $login-padding;
    background-color: $light-bg-color;
    overflow: hidden;

    .loginForm {
        // position: relative;
        // top: 2 * $login-padding;
        // margin: 2 * $login-padding;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1.5 * $login-padding;
        background-color: $light-border-color;
        padding: 1.5 * $login-padding $login-padding;
        box-shadow: $lighter-box-shadow;
        border-radius: $default-padding;

        .mainLogo {
            width: $mainLogo-size;
            height: $mainLogo-size;
        }

        #inputs {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: $default-padding;

            * {
                width: 100%;
            }

            button {
                margin-top: $default-padding;
                margin-bottom: $default-padding;
                border: none;
                font-size: 1.25em;
                font-weight: 500;
                filter: invert(1);
            }

            p {
                display: flex;
                padding: 0.5 * $default-padding;
                font-size: 0.75rem;
                column-gap: $default-padding;
                margin-bottom: -$default-padding;

                a {
                    width: fit-content;
                }
            }

            >a {
                font-size: 0.85rem;
                text-align: center;
                margin-bottom: -$default-padding;
            }
        }
    }
}