.profileLayout {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $modal-color;

    * {
        color: $light-bg-color;
    }

    .profile {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1.5 * $default-padding;
        padding: 2 * $default-padding;
        border-radius: $default-padding;
        box-shadow: $white-box-shadow;
        background-color: $main-bg-color;

        * {
            width: 100%;
        }
    
        svg.avatarPlaceholder {
            width: 5 * $default-padding;
            height: 5 * $default-padding;
            padding: 0;
            border-radius: 50%;
            background-repeat: no-repeat;
            background-position: 50%;
        }

        svg.change {
            position: absolute;
            width: 5 * $default-padding;
            height: 5 * $default-padding;
            padding: 1 * $default-padding;
            background-color: $main-border-color;
            border-radius: 50%;
            background-repeat: no-repeat;
            background-position: 50%;
            opacity: 0;
    
            &:hover {
                opacity: 0.7;
            }
        }
    
        .crossIco {
            position: absolute;
            right: $default-padding;
            top: $default-padding;
            width: 1.75 * $default-padding;
            height: 1.75 * $default-padding;
            padding: 0.35 * $default-padding;
            border-radius: 2 * $little-border-radius;
    
            path {
                fill: $light-bg-color;
                stroke: $light-bg-color;
            }

            &:hover {
                background-color: $secondary-bg-color;
            }
        }

        div {
            display: flex;
            flex-direction: column;
            row-gap: 0.5 * $default-padding;

            span {
                font-size: $smaller-font-size;
                font-weight: 300;
            }

            input {
                background-color: $main-bg-color;
                box-shadow: $lesser-white-box-shadow;
                margin-bottom: 0.5 * $default-padding;

                &[type="password"] {
                    margin-top: $default-padding;
                }
            }
        }

        button {
            margin-top: $default-padding;
            border: none;
            font-size: 1.25em;
            font-weight: 500;
            background-color: $secondary-bg-color;
            box-shadow: $lesser-white-box-shadow;

            &:hover {
                box-shadow: 0 0 0 2px $light-border-color;
            }
        }
    }
}



.avatarChangeOverlay {
    background-color: $modal-color;
    display: flex;
    justify-content: center;
    align-items: center;

    .avatarChangeLayout {
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-items: center;
        row-gap: 2 * $default-padding;
        padding: 2 * $default-padding;
        background-color: $main-bg-color;
        border-radius: $default-padding;
        box-shadow: $white-box-shadow;

        .avatarList {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            max-width: 36 * $default-padding;
            gap: 2 * $default-padding;

            input {
                display: none;

                &:checked + label img {
                    outline: 5 * $border-width solid $secondary-bg-color;
                }
            }

            label {
                
                img {
                    border-radius: 50%;
                    width: 7 * $default-padding;
                    height: 7 * $default-padding;
                    background-color: rgba(255, 255, 255, 0.2);
                    outline: 5 * $border-width solid transparent;      
                    transition: outline-color 0.3s;

                    &:hover {
                        outline: 5 * $border-width solid $secondary-bg-color;
                    }
                }
            }
        }

        button {
            width: 6 * $default-padding;
            border: none;
            font-size: 1.25em;
            font-weight: 500;
            background-color: $secondary-bg-color;
            box-shadow: $lesser-white-box-shadow;
            color: $light-border-color;

            &:hover {
                box-shadow: 0 0 0 2px $light-border-color;
            }
        }
    }
}