<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Домашняя работа №22</title>
        <link rel="stylesheet" href="../styles/Task3.css" />
    </head>
    <body>
        <div class="container">
            <div class="check-style">
                <div class="font-style">
                    <div>
                        <input type="checkbox" name="" id="bold" value="bold" />
                        <label for="bold">Bold</label>
                    </div>
                    <div>
                        <input type="checkbox" name="" id="underline" value="underline" />
                        <label for="underline">Underline</label>
                    </div>
                    <div>
                        <input type="checkbox" name="" id="italic" value="italic" />
                        <label for="italic">Italic</label>
                    </div>
                </div>
                <div class="text-align">
                    <div>
                        <input type="radio" name="textAlign" value="left" id="left" checked />
                        <label for="left">Left</label>
                    </div>
                    <div>
                        <input type="radio" name="textAlign" value="right" id="right" />
                        <label for="right">Right</label>
                    </div>
                    <div>
                        <input type="radio" name="textAlign" value="justify" id="justify" />
                        <label for="justify">Justify</label>
                    </div>
                </div>
                <div></div>
            </div>
            <textarea name="readText" id="readText"></textarea>
            <button class="show-text">Show text</button>
        </div>
        <div class="container noreflect">
            <div>Result:</div>
            <div class="finish-text"></div>
        </div>
        <script src="../scripts/Task3.js"></script>
    </body>
</html>
