<div class="head-info">
    <div class="profile-img"></div>
    <div class="info">
        <div>
            <h1><span class="name">{{name}}</span><span class="surname"> {{surname}}</span></h1>
            <h2>{{spec}}</h2>
        </div>
        <div class="divider"></div>
        <div class="links">
            <a href="{{github}}" target="_blank"><div class="github-icon icon"></div></a>
            <a href="{{telegram}}" target="_blank"><div class="telegram-icon icon"></div></a>
            <a href="tel:{{phone}}" target="_blank"><div class="phone-icon icon"></div></a>
            <a href="mailto:{{email}}" target="_blank"><div class="email-icon icon"></div></a>
        </div>
        <div class="divider"></div>
        <profile></profile>
    </div>
</div>