.left-site-skills-html,
.left-site-skills-css,
.left-site-skills-js,
.left-site-skills-angular {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1vh;

  .left-site-skills-html-text,
  .left-site-skills-css-text,
  .left-site-skills-js-text,
  .left-site-skills-angular-text {
    font-size: 1.2rem;
    font-style: italic;
  }

  .left-site-skills-html-circles,
  .left-site-skills-css-circles,
  .left-site-skills-js-circles,
  .left-site-skills-angular-circles {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: 70%;

    .left-site-skills-html-circles-one,
    .left-site-skills-css-circles-one,
    .left-site-skills-js-circles-one,
    .left-site-skills-angular-circles-one {
      width: 35px;
      height: 35px;
      border: 2px solid black;
      border-radius: 50%;
    }
  }
}

.left-site-skills-html {
  .left-site-skills-html-circles {
    .left-site-skills-html-circles-one {
      &.html-skill {
        background-color: blueviolet;
      }
    }
  }
}

.left-site-skills-css {
  .left-site-skills-css-circles {
    .left-site-skills-css-circles-one {
      &.sass-skill {
        background-color: rgb(209, 63, 63);
      }
    }
  }
}

.left-site-skills-js {
  .left-site-skills-js-circles {
    .left-site-skills-js-circles-one {
      &.js-skill {
        background-color: rgb(219, 219, 43);
      }
    }
  }
}

.left-site-skills-angular {
  .left-site-skills-angular-circles {
    .left-site-skills-angular-circles-one {
      &.angular-skill {
        background-color: rgba(254, 0, 0);
      }
    }
  }
}
