:host {
  display: flex;
  flex-flow: column nowrap;
  gap: 2vh;
  font-size: 1.2rem;

  .right-site-info-name {
    div {
      font-style: italic;
    }
  }

  .right-site-info-profile {
    div {
      font-style: italic;
    }
  }
}
