<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Домашняя работа №21</title>
        <link rel="stylesheet" href="../styles/Task_2/Task_2.css" />
    </head>
    <body>
        <div class="container">
            <button class="button-back"></button>
            <div class="visibility">
                <div class="html_image"></div>
                <div class="css_image notreflect"></div>
                <div class="js_image notreflect"></div>
            </div>
            <button class="button-forward"></button>
        </div>

        <script src="../scripts/Task_2.js"></script>
    </body>
</html>
