<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Домашняя работа №21</title>
        <link rel="stylesheet" href="../styles/Task_4/Task_4.css" />
    </head>
    <body>
        <ul class="container">
            <li>
                <h3>Lorem ipsum dolor sit amet.</h3>
                <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit neque necessitatibus quos. Illo ipsam explicabo, cumque odio tempora, rem sunt officia harum fuga magni totam?</div>
            </li>
            <li>
                <h3>Lorem ipsum dolor sit amet.</h3>
                <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia error laboriosam, facere neque cumque aut quos voluptatibus numquam dolores, quasi deleniti maxime quam incidunt id.</div>
            </li>
            <li>
                <h3>Lorem ipsum dolor sit amet.</h3>
                <div>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores officia ex veritatis quisquam praesentium! Laboriosam obcaecati aperiam saepe eum repudiandae. Quo nesciunt molestias enim rem.</div>
            </li>
            <li>
                <h3>Lorem ipsum dolor sit amet.</h3>
                <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus id in distinctio dolorem nihil dolorum officiis quae eum, architecto provident blanditiis praesentium, vel pariatur libero.</div>
            </li>
            <li>
                <h3>Lorem ipsum dolor sit amet.</h3>
                <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit optio cum ut veniam saepe, eum, voluptatem placeat neque quibusdam deleniti, aut officia delectus possimus ducimus!</div>
            </li>
            <li>
                <h3>Lorem ipsum dolor sit amet.</h3>
                <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit optio cum ut veniam saepe, eum, voluptatem placeat neque quibusdam deleniti, aut officia delectus possimus ducimus!</div>
            </li>
            <li>
                <h3>Lorem ipsum dolor sit amet.</h3>
                <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique sed consequatur esse, quam aut eum exercitationem sapiente nisi, iusto nobis eveniet atque eaque, voluptatum quis suscipit. Odit atque hic ad.</div>
            </li>
            <li>
                <h3>Lorem ipsum dolor sit amet.</h3>
                <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur, ipsam sunt architecto iste corrupti esse aspernatur iure excepturi. At rem dolorem, est consequuntur eos architecto temporibus nisi quibusdam cupiditate voluptatum!</div>
            </li>
            <li>
                <h3>Lorem ipsum dolor sit amet.</h3>
                <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum amet accusamus, est laborum eveniet dolores modi error, ab, expedita nobis consectetur quasi labore asperiores fugiat cumque iste quidem. Animi, assumenda?</div>
            </li>
            <li>
                <h3>Lorem ipsum dolor sit amet.</h3>
                <div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad vel voluptatum error maxime minus excepturi et temporibus animi porro ea, quaerat incidunt ullam culpa asperiores officia similique dolor labore aspernatur.</div>
            </li>
        </ul>
        <script src="../scripts/Task_4.js"></script>
    </body>
</html>
