<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Домашняя работа №21</title>
        <link rel="stylesheet" href="../styles/Task_5/Task_5.css" />
    </head>
    <body>
        <div class="container">
            <div class="generate-month">
                <div class="read-info">
                    <div class="number-month">
                        <label for="userMonth">Month:</label>
                        <input type="text" name="" id="userMonth" />
                    </div>
                    <div class="number-year">
                        <label for="userYear">Year:</label>
                        <input type="text" name="" id="userYear" />
                    </div>
                </div>
                <button class="buttun-generate">Generate</button>
            </div>
            <div class="info-month">
                <div class="text-month">Month, year</div>
                <table class="table-month">
                    <thead>
                        <tr>
                            <td>MON</td>
                            <td>TUE</td>
                            <td>WED</td>
                            <td>THU</td>
                            <td>FRI</td>
                            <td>SUT</td>
                            <td>SUN</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <script src="../scripts/Task_5.js"></script>
    </body>
</html>
