<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Домашняя работа №21</title>
        <link rel="stylesheet" href="../styles/Task_3/Task_3.css" />
    </head>
    <body>
        <ul class="container">
            <li>
                <div class="first">Lorem ipsum dolor sit amet consectetur.</div>
                <div class="second noreflect">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate voluptatum dolorum corporis error fugiat autem eum enim mollitia, sequi est sapiente tempora? Perferendis dolor iusto, ullam voluptatibus, veritatis dolores recusandae quibusdam porro doloremque, eligendi
                    consequatur ratione ipsum provident nulla in?
                </div>
            </li>
            <li>
                <div class="first">Repudiandae deserunt, vero explicabo velit sequi animi laborum</div>
                <div class="second noreflect">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem quod qui non voluptatum quae, expedita dicta cum. Vitae perspiciatis itaque dignissimos, quae, a eligendi, ea illo praesentium quod natus et?</div>
            </li>
            <li>
                <div class="first">Alias facere sapiente, perspiciatis, a voluptatum</div>
                <div class="second noreflect">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis dolorum dolorem doloremque quasi quae nesciunt assumenda pariatur corrupti obcaecati odit harum nisi perspiciatis nostrum qui, itaque maiores. Velit cum, mollitia perferendis voluptate laudantium blanditiis illum!
                </div>
            </li>
            <li>
                <div class="first">Ducimus praesentium corrupti nam hic.</div>
                <div class="second noreflect">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam nulla quia iure porro ex provident vitae quas, inventore molestias architecto.</div>
            </li>
            <li>
                <div class="first">Aut, tenetur libero? Iste numquam dicta culpa</div>
                <div class="second noreflect">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae in deserunt doloribus nemo porro ad repellat ratione, mollitia dicta, laudantium atque nihil est, provident et quisquam distinctio. Eos, ipsum assumenda.</div>
            </li>
        </ul>

        <script src="../scripts/Task_3.js"></script>
    </body>
</html>
