* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
}

.not-reflect {
    display: none;
}

.container {
    background-color: #FBF2E9;
    width: 300px;
    height: 300px;
    margin: 0;
    margin-top: 50px;
    padding: 20px 20px 20px 40px;
}

div:hover,
.disk-C li:hover, 
.disk-D li:hover, 
.disk-E li:hover {
    font-weight: bold;
    cursor: pointer;
}