
#leftBlock{
display: flex;
min-width: 301px;
flex-direction: column;
box-sizing: border-box;
align-items: center;
width: 19.59%;
left: 0px;
height: 88vh;
border: 1px solid rgba(0, 0, 0, 0.2);
background: linear-gradient(0deg, rgba(235, 174, 242, 0.2), rgba(235, 174, 242, 0.2)), #FFFFFF;
margin: 0;
}
.vectorKat{
left: 39.5%;
width:60.59px ; 
}
.Sign{
width: 231px;
height: 38px;
left: 35px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 47px;
text-align: center;
color: black;
padding-top: 0%;
}
.mainPage{
width: 100%;
height: 28px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
text-align: center;
padding-top: 30%;
}