<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Autorisation</title>
        <link rel="stylesheet" href="styles/autorisation_page/autorisation.css" />
    </head>
    <body>
        <div id="mainWrapper">
            <menu id="leftBlock">
                <img src="assets/images/img_autorisation/LOGO.png" class="vectorKat" />
                <div>
                    <h2 class="Sign">Sign up</h2>
                    <h2 class="mainPage">MAIN PAGE</h2>
                </div>
            </menu>
            <menu id="raightBlock">
                <header class="mainHader">
                    <img src="assets/images/img_autorisation/Home.png" class="imgHome" />
                    <h3>Main</h3>
                    <h3>></h3>
                    <h3>authorization</h3>
                    <h3>></h3>
                </header>
                <section id="mainSektion">
                    <img src="assets/images/img_autorisation/LogoGroup.png" />
                    <form method="get" id="mainFormBlockRaight">
                        <input type="text" placeholder="username" class="userName" />
                        <input type="password" placeholder="password" class="password" />
                        <button class="sign-up"><a href="#" class="sign-up-effect">Sign In</a></button>
                        <a href="#">If you don't have an account</a>
                        <a href="#" id="autorisationSign">Sign</a>
                    </form>
                </section>
            </menu>
        </div>
        <footer id="footerEnd">
            <ul>
                <h2>Nyatter</h2>
                <li>last update: 19.02.2022</li>
            </ul>
            <ul>
                <h2>Dmitry Masalski</h2>
                <li class="liraight">DimOn-1566@mail.ru</li>
            </ul>
        </footer>
    </body>
</html>
