#raightBlock{
    margin-top: 0px;
    box-sizing: border-box;
    padding-left: 0%;
    border: 0%;
    width: 80.41%;
    min-width: 500px;
    height: 882px;
    min-width: 301px;
    top: 0px;
    background: linear-gradient(0deg, rgba(235, 174, 242, 0.2), rgba(235, 174, 242, 0.2)), #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 18px 3px rgba(136, 101, 140, 0.4);
    margin-bottom: 0%;
    }
    #mainSektion{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 576px;
    padding-left: 13.44%;
    margin-top: 8px;
    padding-top: 40px;
    }
    .imgHome{
        width: 18.75px;
        height: 20.83px;
    }

    .mainHader img{
    width: 18.75px ;
    height: 20.83px;
    padding-left: 44.12px;
    }
    
    .mainHader h3:nth-of-type(2),
    .mainHader h3:nth-of-type(4){
    width: 7px;
    height: 14px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #88658C;
    padding-left: 20.12px;
    }
    .mainHader h3:nth-of-type(1),
    .mainHader h3:nth-of-type(3){
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #88658C;
    padding-left: 20.12px;
    }
    
   
    .mainHader{

    width: 100%;
    height: 40px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(0, 0, 0, 0.2);
    }
    .signUp{
    width: 344px;
    height: 54px;
    background: #88658C;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    border: none;
    text-align: center;
    color: #FFFFFF;
    margin-top: 96px;
    }
    .userName,
    .password{
    box-sizing: border-box;
    width: 482px;
    height: 61px;
    left: 47px;
    top: 358px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.4);
    }
    .userName{
    margin-top: 26.6px;
    }

    #mainFormBlockRaight{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .userName{
    background: url(img/userName.png);
    outline: none;
    background-repeat: no-repeat;
    background-color: white;
    padding-left: 54px;
    background-position-x: 27px;
    background-position-y: 22px ;

    }
    .password{
    background: url(img/Group.png);
    outline: none;
    background-repeat: no-repeat;
    background-color: white;
    padding-left: 54px;
    background-position-x: 27px;
    background-position-y: 19px ; 
    }
    #mainFormBlockRaight a:nth-of-type(1){
    margin-top: 27px;
    text-decoration: none;
    }
    #mainFormBlockRaight a:nth-of-type(2){
    margin-top: 5px;
    text-decoration: none;
    }