:root {
    --light-green: #15D199;   
    --gray: #A9A9A9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

body {
    font-family: 'Karla', sans-serif;

    padding: 3rem;

    background-color: black;
    color: white;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 70px;
    text-transform: uppercase;
    color: var(--light-green);
}

h3 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 50px;
}

h3.work-title {
    color: var(--light-green);
}

h3.edu-title {
    text-transform: uppercase;
}

h3.period {
    font-weight: 400;
}

p {
    font-size: 2rem;
    line-height: 3.5rem;
    font-weight: 400;
}

p.desc {
    color: var(--gray);
}

hr {
    margin: 1rem 0;
    border-color: var(--light-green);
}